@import "./variables/global";

@font-face {
  font-family: Gilroy;
  src:
    local("Gilroy-ExtraBold"),
    url(../../shared/assets/fonts/Gilroy-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  src:
    local("Gilroy-Bold"),
    url(../../shared/assets/fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src:
    local("Gilroy-SemiBold"),
    url(../../shared/assets/fonts/Gilroy-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  line-height: 14px;
  font-weight: 700;
  background: var(--white);
  color: var(--black);
  letter-spacing: var(--letter-spacing);
  min-height: 100vh;
  margin: 0;

  &.noScroll {
    overflow: hidden;
  }
}

.rdp {
  margin: 0 !important;
}

.rdp-button {
  opacity: 1 !important;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
