.form {
  max-width: 504px;
  width: 100%;
}

.title {

  font-size: 15px;
  font-weight: 700;
  line-height: 14.25px;
  text-align: left;

  color: var(--ultra-dark);
  margin-bottom: 14px;
}

.fieldWithIcon {
  svg {
    path {
      fill: var(--warning);
    }
  }
  &.comfirmed {
    svg {
      path {
        fill: var(--positive);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .btn {
    width: 100%;
  }
}
