.card {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 20px 20px 32px 20px;
  border: 1px solid var(--light);
}

.icon {
  margin-right: 2.5px;
  fill: var(--primary);
}

.imageContainer {
  max-width: 100%;
  aspect-ratio: 3/2;
  height: auto;

  img {
    width: 100%;
  }
}

.name {
  font-size: 22px;
  font-weight: 800;
  line-height: 24.2px;
  text-align: left;
}

.driverProfile {
  h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 13.3px;
    text-align: left;
  }

  span {
    font-size: 14px;
    font-weight: 600;
    line-height: 13.3px;
    text-align: left;
  }
}

.year {
  margin-left: 8px;
  color: var(--light);
}

.description {
  margin-top: 10px;

  font-size: 14px;
  font-weight: 600;
  line-height: 13.3px;
  text-align: left;
  color: var(--gray);

  span {
    margin-right: 4px;
  }
}

.payments {
  margin-top: 32px;
}

.payment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: left;

  div {
    color: var(--gray);
  }

  span {
    color: var(--ultra-dark);
  }
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  .btn {
    width: 48%;
  }
}

@media screen and (max-width: 1024px) {
  .name {
    font-size: 16px;
    font-weight: 800;
    line-height: 17.6px;
    text-align: left;
  }
  .card {
    padding: 20px, 0px, 16px, 0px;
  }

  .description {
    font-size: 11px;
    line-height: 10.45px;
  }
  .payment {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;
  }

  .btn {
    width: 48%;

    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
    text-align: left;

    height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 100%;
  }
  .name {
    font-size: 22px;
    font-weight: 800;
    line-height: 24.2px;
    text-align: left;
  }

  .description {
    font-size: 14px;
    line-height: 13px;
  }

  .payment {
    font-size: 14px;
    line-height: 19.6px;
  }

  .btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 14.25px;
    text-align: left;

    height: 42px;
  }
}
