.card {
  width: 100%;
  background: var(--white);
  border-radius: 20px;
  padding: 20px 20px 32px 20px;
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 0px 14px 44.4px 0px #141a281f;
  }
}

.location {
  cursor: pointer;
  font: var(--font-p-typography);
  color: var(--ultra-dark);
  display: flex;
  align-items: center;
  color: var(--ultra-dark);
  transition: color 0.2s linear;

  &:hover {
    color: var(--dark-gray);
  }

  &:active {
    color: var(--gray);
  }
}

.icon {
  margin-right: 5px;
  fill: var(--primary);
}

.imageContainer {
  max-width: 100%;
  aspect-ratio: 3/2;
  height: auto;

  img {
    width: 100%;
  }
}

.name {
  font: var(--font-h4-typography);
}

.year {
  margin-left: 8px;
  color: var(--light);
}

.description {
  margin-top: 10px;
  font-weight: 700;
  color: var(--gray);

  span {
    margin-right: 4px;
  }
}

.payments {
  margin-top: 32px;
}

.payment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -2%;

  div {
    color: var(--gray);
  }

  span {
    color: var(--ultra-dark);
  }
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  .btn {
    width: 48%;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 20px, 0px, 16px, 0px;
  }
  .name {
    font: var(--font-20-typography);
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 100%;
  }
}
