.title {
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
  text-align: left;

  margin: 30px 0px;
}

.leftside {
  margin-right: 20px;
}

.tabs {
  justify-content: start;

  > button {
    width: 200px;
    margin-right: 12px;
  }
}

.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 72px;

  h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: left;
  }
}

.wrapper {
  padding: 24px 490px 24px 178px;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    padding: 24px 372px 24px 56px;
  }
  .tabs {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 24px 110px 24px 56px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column;
  }
  .leftside {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 45px 16px;
  }
  .title {
    font-size: 36px;
    line-height: 39.6px;
  }
}
