.avatar {
  background: var(--light);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }

  &.circle {
    border-radius: 100%;
  }

  &.square {
    border-radius: 15px;
  }
}
