.wrapper {
  display: flex;
}

.container {
  margin-left: 13px;
}

.name {
  font-weight: 600;
  color: var(--ultra-dark);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.rating {
  color: var(--dark-gray);
  font: var(--font-p-typography);
  margin-left: 8px;
}

.icon {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-bottom: 16px;
  }
}
