.addNew {
  width: 135px;
  height: 40px;
  svg {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}

.title {
  font-size: 28px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  margin-bottom: 19px;
}

.description {
  width: 50%;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;

  color: var(--gray);
  margin-bottom: 36px;
}

.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 16px;
}

.contentWrapper {
  position: relative;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 19.8px;
  color: var(--ultra-dark);
  margin-bottom: 32px;
}

.wrapper {
  margin-bottom: 36px;
}

.fileInput {
  width: 24%;
}

.selectContainer {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.selectDescription {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;

  color: var(--gray);
  margin-top: 8px;
  margin-bottom: 10px;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 14.25px;
  width: 320px;
  height: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .description {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
  }

  .selectItem {
    width: 100% !important;
    margin-bottom: 12px;
  }

  .container {
    flex-direction: column;
    margin-top: 0;
  }

  .fileInput {
    width: 100%;
  }

  .selectDescription {
    display: none;
  }

  .selectContainer {
    width: 100%;
  }

  .addNew {
    width: 100%;
  }
}
