.wrapper {
  display: flex;
}

.container {
  margin-left: 13px;

  &:hover {
    .name {
      color: var(--gray);
    }
  }
}

.name {
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  line-height: 15.2px;
  text-align: left;

  color: var(--ultra-dark);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.rating {
  color: var(--dark-gray);
  font-size: 16px;
  font-weight: 600;
  line-height: 15.2px;
  text-align: left;

  margin-left: 8px;
}

.icon {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

@media screen and (max-width: 375px) {
  .wrapper {
    margin-bottom: 16px;
  }
}
