.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;

  margin-bottom: 17px;
}

.valueLabel {
  position: absolute;
  top: calc(100% - 15px);
  transform: translateX(-50%);

  font-size: 16px;
  font-weight: 600;
  line-height: 15.2px;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}

.values {
  font-size: 16px;
  font-weight: 600;
  line-height: 15.2px;
  text-align: left;

  color: var(--gray);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
