.form {
  max-width: 504px;
  width: 100%;
}

.btn {
  width: 192px;
  height: 43px;
  margin-bottom: 14px;
  border: 1px solid var(--gray);
  &:hover {
    border-color: var(--gray);
  }
  svg {
    width: 20px;
    height: 20px;
    path {
      stroke-width: 3px;
      stroke: var(--black);
      stroke-opacity: 1;
    }
    margin-right: 8px;
  }
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 14.25px;
  text-align: left;

  color: var(--ultra-dark);
  margin-bottom: 14px;
}

@media screen and (max-width: 375px) {
  .btn {
    width: 100%;
  }
}
