.form {
  max-width: 504px;
  width: 100%;
}

.wrapper {
  display: flex;
  margin-bottom: 56px;
  width: 100%;
}

.container {
  max-width: 256px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 14.25px;
  text-align: left;

  color: var(--ultra-dark);
  margin-bottom: 14px;
}

.btn,
.upload {
  width: 192px;
  height: 43px;
  margin-bottom: 14px;

  svg {
    width: 20px;
    height: 20px;
    path {
      stroke-width: 3px;
      stroke: var(--black);
      stroke-opacity: 1;
    }
    margin-right: 8px;
  }
}

.btn {
  border: 1px solid var(--gray);
  &:hover {
    border-color: var(--gray);
  }
}

.text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  text-align: left;

  color: var(--gray);
  margin-bottom: 22px;
}

.fieldWithIcon {
  svg {
    path {
      fill: var(--warning);
    }
  }
  &.comfirmed {
    svg {
      path {
        fill: var(--positive);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  .avatar {
    width: 100% !important;
    aspect-ratio: 1;
    height: auto !important;
    margin-bottom: 29px;
  }

  .btn {
    width: 100%;
  }

  .container {
    max-width: none;
    margin-left: 0;
  }
}
