.or {
  padding: 12px;
  background: var(--ultra-light);
  margin: -56px auto 0;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  color: var(--gray);
}

.wrapper {
  width: 100%;
  margin: 24px 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.authWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 250px);
}

.link {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--ultra-dark);
}
