.checkboxContainer {
  margin: 32px 0 16px 0;
  display: flex;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  font-weight: 700;
}

.checkboxInput {
  display: none;
}

.checkboxCustom {
  cursor: pointer;
  min-width: 21px;
  height: 21px;
  border: 1px solid var(--light);
  border-radius: 7px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

.checkboxInput:checked + .checkboxCustom::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  border-radius: 4px;

  width: 13.2px;
  height: 13.2px;
  background-color: var(--primary);
}
